{% include "header.html" %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Nayan Bebale</h1>
      <p>I'm <span class="typed" data-typed-items="Designer,  Developer, Researcher"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>I'm Nayan Bebale, a final-year B.Tech. IT student at Sage University. With a patented machine learning innovation and diverse technical skills, including Python, databases, and APIs, I've led projects in web development and ML. Passionate about AI, I'm driven to excel and contribute meaningfully to the tech industry's advancements.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/assets/img/profile.png" class="img-fluid" alt="" style="border-radius: 5px;">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Python Developer &amp; Web Developer.</h3>
            <p class="fst-italic">
              Born and bred in the bustling metropolis of Indore, India, I'm a burgeoning technophile in my final year of pursuing a Bachelor's degree, poised to dive into the dynamic world of IT.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>23 May 2003</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>github.com/Nayan-Bebale</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 722 4840 239</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Indore, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>nayanbebale2003@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Internship:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Fueled by curiosity and driven by a passion for technology, I've delved into machine learning, web development, and database management, eager to further cultivate my skills and contribute to technological advancements.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> consequuntur quae</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> adipisci atque cum quia aut</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I possess foundational expertise in Python, Django, Flask, SQL, and REST APIs, complemented by proficiency in HTML, CSS, and JavaScript. My database skills encompass MySQL and SQLite, while my familiarity with Django ORM strengthens my capabilities. As a fresher, I'm eager to apply and enhance these skills in real-world scenarios.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <h4>Programming</h4>
            <div class="progress">
              <span class="skill">Python<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django<i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flask <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">REST API's <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h4>Web Development &amp; Database</h4>
            <div class="progress">
              <span class="skill">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS<i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL &amp; SQLite <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">DjangoORM <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Highly motivated B.Tech. in IT student in 4th with a knack for innovative solutions. Awarded a patent for an AI-powered application platform generator and finalist in the Smart India Hackathon, demonstrating expertise in Python development. Proficient in databases, machine learning, APIs, and web development frameworks like Django, Flask. Eager to leverage expertise in ML and AI to solve real-world problems and contribute to cutting-edge projects.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Nayan Bebale</h4>
              <p><em>Driven by a passion for innovation and armed with a patent for an AI-driven application platform generator, I'm a forward-thinking B.Tech. student with a flair for creative solutions and a thirst for knowledge.</em></p>
              <ul>
                <li>Indore,India</li>
                <li>(722) 484-0239</li>
                <li>nayanbebale2003@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.Tech Information Technology</h4>
              <h5>2021 - 2025</h5>
              <p><em>Sage University, Indore</em></p>
              <p>Pursuing B.Tech in Information Technology at Sage University, Indore, with a focus on innovative tech solutions. Achieved a commendable CGPA of 8.3/10, showcasing dedication to academic excellence and a strong foundation in IT principles.</p>
            </div>

            <h3 class="resume-title">Innovation</h3>
            <div class="resume-item">
              <h4>Patent</h4>
              <h5>12 May 2023</h5>
              <p><em>“System and Method for Automatically Generating an Application Platform Based on User's Requirements Using IoT”</em></p>
              <p>As the Team Leader, System Designer, and Python Developer for the patented project, I orchestrated a multifaceted approach to create an innovative solution that automates the generation of application platforms based on user requirements through IoT integration.</p>
            </div>

            
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Python development Tutor</h4>
              <h5>Nov 2023 - Feb 2024</h5>
              <p><em>Indore, India </em></p>
              <p>Self-employed role providing personalized Python development tutoring sessions for students.</p>
              <p>Role and Responsibility:</p>
              <ul>
                <li>Curriculum development & Hands-On Coding Sessions</li>
                <li>Individualized Guidance & Skill Enhancement</li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Project Based Learning & Progress Assessment</li>
              </ul>
            </div>

            <h3 class="resume-title">Extracurricular Activities</h3>
            <div class="resume-item">
              <h4>As a student</h4>
              <ul>
                <li>Selected as Finalist in SIH 2023</li>
                <li>Holds Patent for "System and Method for Automatically Generating an Application Platform Based on User's Requirements Using IoT" (Issued date: 12 May 2023)</li>
                <li>Selected for IDE Bootcamp phase - II</li>
                <li>Participated in 3 Hackathons</li>
              </ul>
            </div>
            

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Dedicated to delivering excellence, I approach each project with unwavering commitment, ensuring timely completion and exceeding expectations. With a passion for innovation, I tackle challenges head-on, crafting solutions that make a tangible impact.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
               <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-card">Other</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        {% for project in web_projects %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <div class="portfolio-images">
                            <img src="{{ url_for('static', filename='images/' ~ project.image1) }}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-links">
                            <a href="{{ url_for('static', filename='images/' ~ project.image1) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ project.name }}"><i class="bx bx-plus"></i></a>
                            <a href="{{ url_for('details', project=project.id) }}" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for project in app_projects %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <div class="portfolio-images">
                            <img src="{{ url_for('static', filename='images/' ~ project.image1) }}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-links">
                            <a href="{{ url_for('static', filename='images/' ~ project.image1) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ project.name }}"><i class="bx bx-plus"></i></a>
                            <a href="{{ url_for('details', project=project.id) }}" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for project in other_projects %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-other">
                    <div class="portfolio-wrap">
                        <div class="portfolio-images">
                            <img src="{{ url_for('static', filename='images/' ~ project.image1) }}" class="img-fluid" alt="">
                        </div>
                        <div class="portfolio-links">
                            <a href="{{ url_for('static', filename='images/' ~ project.image1) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ project.name }}"><i class="bx bx-plus"></i></a>
                            <a href="{{ url_for('details', project=project.id) }}" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>If you have any questions, feedback, or just want to say hello, feel free to reach out to me! I’m always open to discussing new projects, creative ideas, or opportunities to be a part of your vision. Let's connect and start a conversation.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>649/2, Yadav Nand Nagar, Indore, M.P. 452015</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>nayanbebale2003@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 722 484 0239</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d387.48511313841186!2d75.84323833610686!3d22.742683100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s649%2F2%2C%20Yadav%20Nand%20Nagar%2C%20Indore%2C%20M.P.%20452015%20bherav%20kirana%20store!5e1!3m2!1sen!2sin!4v1716804063622!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for('send_message') }}" method="post" role="form" class="php-email-form">
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="name">Your Name</label>
                      <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="email">Your Email</label>
                      <input type="email" class="form-control" name="email" id="email" required>
                  </div>
              </div>
              <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
      </div>

        </div>
  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <div class="flash-messages">
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
</div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======== Certificate Section ======= -->
{#    <section id="certificate" class="portfolio section-bg">#}
{#      <div class="container">#}
{##}
{#        <div class="section-title">#}
{#          <h2>Certificates</h2>#}
{#          <p>Dedicated to delivering excellence, I approach each project with unwavering commitment, ensuring timely completion and exceeding expectations. With a passion for innovation, I tackle challenges head-on, crafting solutions that make a tangible impact.</p>#}
{#        </div>#}
{##}
{#        <div class="row" data-aos="fade-up">#}
{#          <div class="col-lg-12 d-flex justify-content-center">#}
{#            <ul id="portfolio-flters">#}
{#              <li data-filter="*" class="filter-active">All</li>#}
{#              <li data-filter=".filter-programming">Programming</li>#}
{#              <li data-filter=".filter-database">DataBase and Other</li>#}
{#              <li data-filter=".filter-hackathons">Hackathons</li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">#}
{#          {% for project in data %}#}
{#          <div class="col-lg-4 col-md-6 portfolio-item filter-app">#}
{#              <div class="portfolio-wrap">#}
{#                  <div class="portfolio-images">#}
{#                      <img src="{{ url_for('static', filename=value['images'][0]) }}" class="img-fluid" alt="">#}
{#                  </div>#}
{#                  <div class="portfolio-links">#}
{#                      <a href="{{ url_for('static', filename=value['images'][0]) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ value.name }}"><i class="bx bx-plus"></i></a>#}
{#                      <a href="{{ url_for('details', project=key) }}" title="More Details"><i class="bx bx-link"></i></a>#}
{#                  </div>#}
{#              </div>#}
{#          </div>#}
{#      {% endfor %}#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Certificate Section -->#}

  </main><!-- End #main -->

{% include "footer.html" %}